.main-wrapper {
    height: 100%;
}

.table-wrap {
    padding: 1.5rem 1rem;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    position: relative;
    color: #e6e2da;
}

th, td {
    height: 59px;
    border-bottom: 1px solid #000;
}

th {
    height: 27.5px;
    background: #112144;
    color: #ddd;
}

tr:nth-child(even) {background-color: #354568;}
tr:nth-child(odd) {background-color: #2e457b;}