.filter-wrap {
    background: #112144;
    color: #fff;
    border-bottom: 3px solid #3b3b4f;
}

.filter {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    padding: 15px 10px;
}

label {
    display: inline-block;
    margin: 0.5rem 0;
}

select,
input {
    display: block;
    min-height: 2em;
    width: 290px;
}

input {
    height: 30px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto 15px;
    border: 1px solid #b7cdff;
    border-radius: 5px;
    width: 200px;
    background-color: #354568;
    color: #e6e2da;
    font-weight: 600;
}